
/* TEAM Section
============================================ */
.polygon{
  background-color: #400026;
  min-height: 400px;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 25%, 28% 25%);
}

.quad-polygon{
  background-color: #EA3358;
  min-height: 358px;
  min-width: 100vw;
  clip-path: polygon(15.1% 0%, 100% 0%, 100% 100%, 5.1% 100%);
  z-index: -1;
}
.div-polygon{
  background-color: #1e2833;
  min-height: 365px;
  min-width: 100vw;
  clip-path: polygon(14.7% 0%, 100% 0%, 100% 100%, 4.7% 100%);
  z-index: -2;
}

.outline-polygon{
  background-color: #ffb344;
  min-height: 370px;
  min-width: 100vw;
  clip-path: polygon(14.4% 0%, 100% 0%, 100% 100%, 4.4% 100%);
  z-index: -3;
}
