*{
    
    margin:0;
    padding:0;
}

body {
    
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 17px;
    color:coral;
    line-height: 1.6;
    text-align: center;
}

#fullscreen{
    
    #background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/man.jpeg');
    #background-size: cover;
    #background-position: center;
    #height: 100vh;
    
}

#fullscreen h1{
    
    #font-size: 50px;
    #position: absolute;
    #top: 270px;
    #left: 500px;
    #font-weight: 200;
    #color:aquamarine;
}

#text h3{
    
    font-size: 25px;
    padding: 40px;
    color:#408159;
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    
}

#particles-js {
    
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/man.jpeg');
    background-size: cover;
    background-position: center;
    
}

#particles-js h1{
    
    font-size: 50px;
    position: absolute;
    top: 270px;
    left: 500px;
    font-weight: 200;
    color:aquamarine;
}

