@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #DFAF65;
}

/*--- Navigation --*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .92rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, 1)!important;
}
.navbar-brand img {
	height: 2.6rem;
}
.navbar-nav li {
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
	letter-spacing: .2rem;
	font-family: 'Lato', sans-serif;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #DFAF65;
}

/**--- Landing Page --*/
#home {
	background-image:;
	background-repeat: no-repeat;
	padding-top: 75px;
 	padding-bottom: 360px;
    background-position: 50% 50%;
}
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 44%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}

.caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	margin-top: 50px;
}

.contentTitle h2 {
	text-align: center;
	margin-top: -390px;
	margin-bottom: -20px;
    color: #DFAF65;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .05rem .05rem .4rem grey;
}
#about {
	background-image: url("images/thememun5.png");
	font-family: 'Lato', sans-serif;
	margin-top: 100px;
	padding-bottom: 40px;
}

#sabout {
	margin-top: -90px;
}

#aboutus {
	text-align: center;
	padding-top: 90px;
    color: #DFAF65;
    font-family: 'Lato', sans-serif;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
}


.lead {
	color: #DFAF65;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 10px;
	font-weight: 400;
	font-size: 1.3rem;
	margin-top: -12px;
	padding-left: 40px;
	padding-right: 40px;
}

.committee img {
	width: 220px;
}

.committee {
	background-image:;
}

.heading {
	color: #DFAF65;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 40px;
}

.heading-underlinee {
	width: 8rem;
	height: .2rem;
	background-color:#DFAF65;
	margin: 0 auto 2rem;
	margin-top: -25px!important; 

}

.committee h3 {
	color: #DFAF65;
    font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: .1rem;
	text-transform: uppercase;
} 

.committee p {
	margin-right: 90px;
	margin-left: 90px;
	margin-bottom: 90px;
	margin-top: 20px;
	color: #DFAF65;
}

#three {
	margin-bottom: 0px!important;
	padding-bottom: 60px;
}

#committees {
	background-image: url("images/thememun5.png");
	background-size: 1300px 900px;
	margin-top: 66px;
}

#delegate {
	background-image: url("images/thememun5.png");
	padding-bottom: 200px;
}

#delegate h1 {
	color: #DFAF65;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 40px;
	padding-top: 40px;
}

#delegate h3 {
	padding-top: 200px;
}

#faqs {
	background-image: url("images/thememun5.png");
}

.faqqs {
	color: #DFAF65;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 40px;
	padding-top: 40px;
}

.one {
	margin-top: -12px;
	color: #DFAF65;
	font-family: 'Lato', sans-serif;
}

.two {
	margin-bottom: 40px;
	color: #DFAF65;
	font-family: 'Lato', sans-serif;
}

footer {
	background-image: url("images/thememun5.png");
	color: #DFAF65;
}

footer a {
	color: #DFAF65;
}

footer svg.svg-inline--fa {
	font-size: 1.3rem;
	margin-top: 5px;
	margin-right: 5px;
}

footer svg.svg-inline--fa:hover {
	color: grey!important;
}

hr.socket {
	width: 100%;
	border-top: .1rem solid grey;
}

#contact {
 	font-family: 'Acme', sans-serif;
 	letter-spacing: .15rem;

}

.contactpage {
	background-image: url("images/thememun5.png");
}


.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.varanasi {
	margin-left: -37px;
	padding-top: 8px;
}

.number1 {
	padding-top: 17px;
	margin-left: -37px;
}

.number2 {
	margin-left: -37px;
}

.munmail {
	margin-left: -37px;
	padding-top: 17px;
}

.follow {
	margin-top: 50px;
	margin-bottom: -30px;
	margin-left: -37px;
	font-size: 1.5rem;
}


.hpnumber1 {
	padding-top: 10px;
	margin-left: -37px;
}

.hpnumber2 {
	margin-left: -37px;
	padding-bottom: -20px;
}

.hpfollow {
	margin-top: 10px;
	margin-bottom: -30px;
	margin-left: -37px;
	font-size: 1.5rem;
}

.hpcon {
	margin-left: -16px;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white!important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: #DFAF65!important;
 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.clr {
	color: white;
}

.clr:hover {
	color: #DFAF65!important;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.fade {
	opacity: 1;
}

footer{
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 15px 50px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer_title {
  font-size: 24px!important;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #DFAF65;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{

  cursor: pointer;
  background-color:  #33383b;

 
  font-size: 40px;
  color: #ffffff;
  text-align: center;

 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}

button {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
  line-height: 1;
  color: white;
  letter-spacing: 0.025em;
  background: silver;
  padding: 11px 0 11px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  min-width: 100px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

button span {
  display: block;
  position: relative;
  z-index: 10;
}

button:after,
button:before {
  padding: 18px 0 11px;
  content: '';
  position: absolute;
  top: 0;
  left: calc(-100% - 30px);
  height: calc(100%);
  width: calc(100% + 20px);
  color: #fff;
  border-radius: 2px;
  transform: skew(-25deg);
}

button:after {
  background: white;
  transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: 0;
  opacity: 0.8;
}

button:before {
  background: #d4902b;
  z-index: 5;
  transition: left .5s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:after {
  left: calc(0% - 10px);
  transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:before {
  left: calc(0% - 10px);
  transition: left .5s cubic-bezier(0.86, 0, 0.07, 1);
}

