@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body {
    font-family: 'Lato', sans-serif;
	color: #DFAF65;
}


.navbar-toggler {
  padding: 0.25rem 0.25rem!important;
}


.imgcom {
	background-image: url("images/thememun5.png");
}

/*--- Navigation --*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .92rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, 1)!important;
}
.navbar-brand img {
	height: 2.6rem;
}
.navbar-nav li {
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
	letter-spacing: .2rem;
	font-family: 'Lato', sans-serif;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #DFAF65;
}


/**--- Landing Page --*/

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 44%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}

.caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	margin-top: 50px;
}

.contentTitle h2 {
	text-align: center;
	margin-top: -390px;
	margin-bottom: -20px;
    color: #DFAF65;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .05rem .05rem .4rem grey;
}

#about {
	background-image: url("images/thememun5.png");
	font-family: 'Lato', sans-serif;
	margin-top: 100px;
	padding-bottom: 40px;
}

#sabout {
	margin-top: -90px;
}

#aboutus {
	text-align: center;
	padding-top: 90px;
    color: silver;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem silver;
}


.lead {
	color: #DFAF65;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 10px;
	font-weight: 400;
	font-size: 1.2rem;
	margin-top: -12px;
	padding-left: 1.74%;
	padding-right: 1.74%;
}


@media only screen and (max-width: 767px)
{

    #aboutus {
  text-align: center;
  padding-top: 90px;
    color: #DFAF65;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem #DFAF65;
}



}

@media only screen and (max-width: 767px)
{

    .lead {
        color: #DFAF65;
        font-family: 'Lato', sans-serif;
        text-align: center;
        padding-top: 10px;
        font-weight: 400;
        font-size: .9rem;
        margin-top: -12px;
        padding-left: 1.74%;
        padding-right: 1.74%;
    }


}

#abouthome {
	background-image: url("images/thememun5.png");
  border-top: 5px;
	font-family: 'Lato', sans-serif;
	padding-bottom: 40px;
}

#aboutushome {
	text-align: center;
	padding-top: 50px;
    color: #DFAF65;
    font-family: 'Lato', sans-serif;
    font-size: 1.45rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem #DFAF65;
}


.leadhome {
	color: #DFAF65;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 10px;
	font-weight: 400;
	font-size: 1.2rem;
	margin-top: -12px;
	
}


@media only screen and (max-width: 1067px) {

   .leadhome {
      font-size: .96em;
      color: #DFAF65;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  margin-top: -12px;
  
   }

}


.committee img {
	width: 190px;
}

@media only screen and (max-width: 120px)
{
    .committee img {
      width: 10%!important;
      height: 10%!important;
    }


}

.committee {
	background-image:;
	padding-top: 38px;
}


.heading {
	color: #DFAF65;
    font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem #DFAF65;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 40px;

}

@media only screen and (max-width: 767)
{
    .heading {
  color: #DFAF65;
    font-size: 2rem!important;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  margin-top: 40px;
}




}

.heading-underline {
	width: 8rem;
	height: .2rem;
	background-color:#DFAF65;
	margin: 0 auto 2rem;
	margin-top: -20px!important; 

}

.committee h3 {
	color: #DFAF65;
    font-size: 1.5rem;
	font-weight: 100;
	letter-spacing: .1rem;
	text-transform: uppercase;
} 

.img-fluid {
	width: 100px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  transition: transform .2s, filter .2s ease-in-out;
  filter: grayscale(90%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(2.5);
}


.committee p {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 90px;
	margin-top: 20px;
	color: #DFAF65;
}

#aippm h3 {
	padding-bottom: 30px!important;
}

#three {
	margin-bottom: 0px!important;
	padding-bottom: 60px;
  font-size: 1.2rem;
}

#committees {
	background-image: url("images/thememun5.png");
	background-size: 1300px 900px;
	margin-top: 66px;
}

#delegate {
	background-image: url("images/thememun5.png");
	padding-bottom: 200px;
}

#delegate h1 {
	color: #DFAF65;
    font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 40px;
	padding-top: 40px;
}

.delsep {
	text-transform: uppercase;
	color: ;
	padding-bottom: 30px;
}

.delsepe {
	text-transform: uppercase;
	color: white;
	padding-bottom: 70px;	
}

#delegate h3 {
	padding-top: 200px;
	color: white;
}

#faqs {
	background-image: url("images/thememun5.png");
}

.faqqs {
	color: #DFAF65;
    font-size: 1.96rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem #DFAF65;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 40px;
	padding-top: 40px;
}

.one {
	margin-top: -12px;
	color: #DFAF65;
	font-family: 'Lato', sans-serif;
  
}

.two {
	margin-bottom: 40px;
  font-size: 1.42rem!important;
	color: silver;
	font-family: 'Lato', sans-serif;
}

footer {
	background-image: url("images/thememun5.png");
	color: #DFAF65;
	
}

footer a {
	color: #DFAF65;
}

footer svg.svg-inline--fa {
	font-size: 1.3rem;
	margin-right: 10px;
}

footer svg.svg-inline--fa:hover {
	color: white!important;
}

hr.socket {
	width: 100%;
	border-top: .1rem solid grey;
	margin-top: 0rem;
}

#contact {
 	font-family: 'Acme', sans-serif;
 	letter-spacing: .15rem;

}

.contactpage {
	background-image: url("images/thememun5.png");
}


.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.varanasi {
	margin-left: -37px;
	padding-top: 8px;
}

.number1 {
	padding-top: 17px;
	margin-left: -37px;
}

.number2 {
	margin-left: -37px;
}

.munmail {
	margin-left: -37px;
	padding-top: 17px;
}

.follow {
	margin-top: 50px;
	margin-bottom: -30px;
	margin-left: -37px;
	font-size: 1.5rem;
}


.hpnumber1 {

}

.hpnumber2 {
}

.hpfollow {
	font-size: 1.0rem;
}

.hpcon {
	
	font-size: 1.3rem;
}

/* Navbar container */

/* The dropdown container */
.dropdown {
  float: left;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: transparent;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black!important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px; 

   font-weight: 700; 
   letter-spacing: .1rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white!important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: transparent;
  color: #DFAF65!important;
 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.clr {
	color: white;
}

.clr:hover {
	color: #DFAF65!important;
}

.bdy {
	padding-top: 10px;
	margin-left: 105px;
}

button {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
  line-height: 1;
  color: white;
  letter-spacing: 0.025em;
  background: #595959;
  padding: 11px 0 11px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  min-width: 100px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

button span {
  display: block;
  position: relative;
  z-index: 10;
}

button:after,
button:before {
  padding: 18px 0 11px;
  content: '';
  position: absolute;
  top: 0;
  left: calc(-100% - 30px);
  height: calc(100%);
  width: calc(100% + 20px);
  color: #fff;
  border-radius: 2px;
  transform: skew(-25deg);
}

button:after {
  background: white;
  transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: 0;
  opacity: 0.8;
}

button:before {
  background: #d4902b;
  z-index: 5;
  transition: left .5s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:after {
  left: calc(0% - 10px);
  transition: left 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:before {
  left: calc(0% - 10px);
  transition: left .5s cubic-bezier(0.86, 0, 0.07, 1);
}

canvas {
  width: 420px;
  height: 420px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#contact {
  background-image: url("images/thememun5.png");
}

#contact #google-map {
  height: 300px;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 1.0rem;
  color: #DFAF65;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 37px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 1.0rem;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 1.0rem;
  display: inline-block;
  background: #333;
  color: #DFAF65;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contact .social-links a:hover {
  background: ;
  color: #fff;
}

.fa-map-marker {
	font-size: 2.0rem;
	color:  #DFAF65;
	margin-top: 20px;
}

.fa-envelope {
	font-size: 2.2rem;
	color:  #DFAF65;
	margin-top: 20px;
}

.fa-phone {
	font-size: 2.2rem;
	color:  #DFAF65;
	margin-top: 20px;
}

/*#contact .form #sendmessage {
  color: #DD6356;
  border: 1px solid #2dc997;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}*/

#contact .form #errormessage {
  color: #DFAF65;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}
/*
#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}*/

/*#contact .form button[type="submit"] {
  background: #DD6356;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}*/

#contact .form button[type="submit"]:hover {
  background: #51d8ad;
}

@media (max-width: 1081px)
{
    #mobile-nav-toggle {
    display: inline;
}

#nav-menu-container{
  display: none; 
} 

#homepage{
  margin-top: -30px;
}
#homehead0{
  margin-bottom: -20px;
}

}



.modal { 
    position: fixed; 
    top: 5%; 
    right: 5%; 
    left: 5%; 
    width: auto; 
    margin: 0; 

}
.modal-body { 
    height: 60%;
     max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    z-index: -100;
    -webkit-overflow-scrolling: touch;  
}
.modal-backdrop{
  z-index: -100;
}


/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

/* Panel Navigation */
.panelNav {
  list-style: none;
  margin: 0; padding: 0;
}

.panelNav li {
  display: inline-block;
  padding: 0 10px;
}

.panelWrapper {
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 1px solid #464646;
}

.panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  text-align: center;
  line-height: 200px;
  font-size: 100px;
  color: #FFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.fade {
	opacity: 1;
}

footer{
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 15px 50px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer_title {
  font-size: 24px!important;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #DFAF65;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{

  cursor: pointer;
  background-color:  #33383b;

 
  font-size: 40px;
  color: #ffffff;
  text-align: center;

 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}


.separator {
    width: 10px;
    height: 10px;
    margin: 9px auto;
    background: #DFAF65;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    margin-left: 48.7vw;
}

.separator:after {
    position: absolute;
    left:5%;
    bottom:4px;
    height: 1px;
    width: 38px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-left: 20px;
}
.separator:before {
    position: absolute;
    right: 5%;
    bottom:4px;
    height: 1px;
    width: 38px;
    background: #eee;
    content:"";
    display: inline-block;
    margin-right: 20px;
}


@media only screen and (max-width: 767)
{

  .committee h4 {
      font-size: 1.2rem;
        
   
  }

  .committee h6 {
    font-size: 1rem;
    
   
  }
}


@media only screen and (max-width: 767)
{
  .two {
    font-size: !important;
  }



}