.circle-container {
  position: relative;
  /* 1 */
  width: 20em;
  height: 20em;
  padding: 0;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 1em auto 6% ;
}
.circle-container > * {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 59%;
  width: 3em;
  height: 3em;
  margin: -3em;
}
.circle-container > :nth-of-type(1) {
  transform: rotate(0deg) translate(10em) rotate(0deg);
}
.circle-container > :nth-of-type(2) {
  transform: rotate(45deg) translate(10em) rotate(-45deg);
}
.circle-container > :nth-of-type(3) {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
}
.circle-container > :nth-of-type(4) {
  transform: rotate(135deg) translate(10em) rotate(-135deg);
}
.circle-container > :nth-of-type(5) {
  transform: rotate(180deg) translate(10em) rotate(-180deg);
}
.circle-container > :nth-of-type(6) {
  transform: rotate(225deg) translate(10em) rotate(-225deg);
}
.circle-container > :nth-of-type(7) {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}

.circle-container img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}
.loksabha{
  margin-top: 10px;
}
.aippm{
    margin-bottom: -10px;
}
.circle-container img:hover {
  filter: grayscale(0);
}
